@using Nop.Core.Domain.Estimate
@using Nop.Services
@model ProductByTypeEstimateStepModel

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div class="col-md-2">
                <nop-label asp-for="ProductItems" />
            </div>
            <div class="col-md-10">
                <nop-select class="ProductItems-ruot" asp-for="ProductItems" asp-items="@Model.ProductItems" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                <nop-label asp-for="HandPrints" />
            </div>
            <div class="col-md-10">
                <nop-select asp-for="HandPrints" asp-items="@Model.HandPrints" />
            </div>
        </div>
    </div>
    <div class="col-md-12 text-right">
        <button id="btnSelectProductRuot" type="button" class="btn btn-success">@T("ProductByTypeEstimateStep.Button.SelectProduct")</button>
    </div>
</div>
<div id="product-ruot-info"></div>
<script>
    $(function() {
        $("#btnSelectProductRuot").on('click', function() {
            var productId = $(".ProductItems-ruot").val();
            var estimateId = $("#EstimateInfoId").val();
            if (productId === '0') {
                alert('Vui lòng chọn sản phẩm.');
            } else {
                //Call ajax submit form
                $.ajax({
                    url: "@Html.Raw(Url.Action("EstimateLoadProduct", "Estimate"))",
                    type: "POST",
                    dataType: "json",
                    data: addAntiForgeryToken({
                        productId: productId,
                        estimateId: estimateId,
                        typeEstimateStepId: @((int)TypeEstimateStep.Ruot)
                    })
                }).done(function( result ) {
                    if (result.Success) {
                        $("#product-ruot-info").html(result.Data);
                    }
                });
            }
        });
    });
</script>
<hr />
<div class="row">
    <div class="col-md-12">
        <div id="estimate-product-ruot-grid"></div>
    </div>

    <script>
        $(document).ready(function() {
            $("#estimate-product-ruot-grid").kendoGrid({
                dataSource: {
                    type: "json",
                    transport: {
                        read: {
                            url: "@Html.Raw(Url.Action("ListShoppingCartItems", "Estimate"))",
                            type: "POST",
                            dataType: "json",
                            data: function() {
                                var data = {
                                    estimateInfoId: $("#EstimateInfoId").val(),
                                    customerId: $("#CustomerId").val(),
                                    typeEstimateStepId: "@((int)TypeEstimateStep.Ruot)"
                                };
                                addAntiForgeryToken(data);
                                return data;
                            }
                        }
                    },
                    schema: {
                        data: "Data",
                        total: "Total",
                        errors: "Errors"
                    },
                    error: function(e) {
                        display_kendoui_grid_error(e);
                        // Cancel the changes
                        this.cancelChanges();
                    },
                    pageSize: 100,
                    serverPaging: true,
                    serverFiltering: true,
                    serverSorting: true
                },
                pageable: {
                    refresh: true,
                    pageSizes: 100,
                    @await Html.PartialAsync("_GridPagerMessages")
                },
                editable: {
                    confirmation: "@T("Admin.Common.DeleteConfirmation")",
                    mode: "inline"
                },
                scrollable: false,
                    columns: [
                    {
                        field: "HandPrint",
                        title: "@T("Admin.CurrentCarts.HandPrint")",
                        width: 100
                    },
                    {
                        field: "ProductName",
                        title: "@T("Admin.CurrentCarts.ProductName")"
                    }, {
                        field: "ShortDescription",
                        title: "@T("Admin.CurrentCarts.ShortDescription")"
                    },  {
                    field: "UnitName",
                    title: "@T("Admin.CurrentCarts.UnitName")",
                    width: 100
                    }, {
                        field: "Quantity",
                        title: "@T("Admin.CurrentCarts.Quantity")",
                        width: 100
                    }, {
                        field: "Id",
                        title: "@T("Admin.Common.Action")",
                        width: 150,
                        headerAttributes: { style: "text-align:center" },
                        attributes: { style: "text-align:center" },
                            template: '<button type="button" onclick="editShoppingCartItemRuot(#=Id#);" class="btn-edit-shopping-cart-item btn btn-sm btn-primary" ><i class="fa fa-pencil"></i>@T("Admin.Common.Edit")</button>'+
                            '<button type="button" onclick="deleteShoppingCartItemRuot(#=Id#);" class="btn-delete-shopping-cart-item btn btn-sm btn-danger" ><i class="fa fa-pencil"></i>@T("Admin.Common.Delete")</button>'
                    }
                ]
            });
        });

        function editShoppingCartItemRuot(shoppingCartItemId) {
            if (shoppingCartItemId > 0) {
                $.ajax({
                    url: "@Html.Raw(Url.Action("GetShoppingCartItem", "Estimate"))",
                    type: "POST",
                    dataType: "json",
                    data: addAntiForgeryToken({
                        id: shoppingCartItemId
                    })
                }).done(function( result ) {
                    if (result.Success) {
                        $("#product-ruot-info").html(result.Data);
                    }
                });
            }
        }

        function deleteShoppingCartItemRuot(shoppingCartItemId) {
            if (shoppingCartItemId > 0) {
                $.ajax({
                    url: "@Html.Raw(Url.Action("DeleteShoppingCartItem", "Estimate"))",
                    type: "POST",
                    dataType: "json",
                    data: addAntiForgeryToken({
                        id: shoppingCartItemId
                    })
                }).done(function( result ) {
                    var gridProductRuot = $('#estimate-product-ruot-grid').data('kendoGrid');
                    gridProductRuot.dataSource.page(1);
                    return false;
                });
            }
        }
    </script>


</div>
