@using Nop.Core.Domain.Estimate
@using Nop.Services
@model EstimateInfoModel
<form asp-controller="Estimate" asp-action="EstimateInfoCreate" method="post" id="estimate-info-form">
    <div id="estimate-info" class="row">

        <input asp-for="Id" type="hidden" id="EstimateInfo@(Html.IdFor(model => model.Id))" />
        <input asp-for="CustomerId" type="hidden" />
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-4">
                    <nop-label asp-for="Customers" />
                </div>
                <div class="col-md-8">
                    <nop-select asp-for="Customers" asp-items="@Model.Customers" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <nop-label asp-for="ProductTypeName" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="ProductTypeName" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <nop-label asp-for="CustomerFirstName" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CustomerFirstName" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <nop-label asp-for="CustomerLastName" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CustomerLastName" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <nop-label asp-for="CustomerPhone" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="CustomerPhone" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <nop-label asp-for="NumberEstimate" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="NumberEstimate" />
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-4">
                    <nop-label asp-for="Title" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="Title" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <nop-label asp-for="ProductName" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="ProductName" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <nop-label asp-for="ProfitPercent" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="ProfitPercent" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <nop-label asp-for="TotalNumber" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-render-form-control-class="true" asp-for="TotalNumber" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <nop-label asp-for="UnitNameNote" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="UnitNameNote" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <nop-label asp-for="ExtendNote" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-for="ExtendNote" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <nop-label asp-for="CreatedDate" />
                </div>
                <div class="col-md-8">
                    <nop-editor asp-render-form-control-class="true" asp-for="CreatedDate" />
                </div>
            </div>
            <div class="form-group hidden">
                <div class="col-md-4">
                    <nop-label asp-for="TypeEstimateId" />
                </div>
                <div class="col-md-8">
                    <span>@Model.TypeEstimate.ToLocalizationName()</span>
                    <input id="@Html.IdFor(model => model.TypeEstimateId)" name="@Html.IdFor(model => model.TypeEstimateId)" type="hidden" value="@Model.TypeEstimateId" />
                    @*<nop-select asp-for="TypeEstimateId" asp-items="@((TypeEstimate) Model.TypeEstimateId).ToSelectList()" />*@
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6 col-xs-6">
            <button id="btn-save-estimate-info" class="btn btn-success btn-lg btn-block" type="button">@T("Admin.Common.EstimateInfo.Save")</button>
        </div>
        <div class="col-md-6 col-xs-6">
            <button id="btn-reset-info" class="btn btn-danger btn-lg btn-block" type="button">@T("Admin.Common.EstimateInfo.ResetInfo")</button>
        </div>
    </div>
</form>
<script>
    $(function() {
        var customerId = 0;
        $("#@Html.IdFor(m=>m.Customers)").on('change', function() {
            customerId = $(this).val();
            if (customerId === 0) {

            } else {
                $.ajax({
                    url: "@Html.Raw(Url.Action("GetEstimateCustomerInfo", "Estimate"))",
                    type: "GET",
                    dataType: "json",
                    data: {
                        customerId: customerId
                    }
                }).done(function( result ) {
                    if (result.Success) {
                        $("#@Html.IdFor(model=>model.CustomerId)").val(result.Data.Id);
                        $("#@Html.IdFor(model=>model.CustomerFirstName)").val(result.Data.CustomerFirstName);
                        $("#@Html.IdFor(model=>model.CustomerLastName)").val(result.Data.CustomerLastName);
                        $("#@Html.IdFor(model=>model.CustomerPhone)").val(result.Data.CustomerPhone);
                    } else {
                        alert('Dữ liệu không hợp lệ.');
                    }

                });
            }
        });

        $("#btn-save-estimate-info").on('click', function() {
            //Call ajax submit form

            var postData = {
                Id: $('#EstimateInfo@(Html.IdFor(model => model.Id))').val(),
                CustomerId: $('#@Html.IdFor(model => model.CustomerId)').val(),
                CustomerFirstName: $('#@Html.IdFor(model => model.CustomerFirstName)').val(),
                CustomerLastName: $('#@Html.IdFor(model => model.CustomerLastName)').val(),
                CustomerPhone: $('#@Html.IdFor(model => model.CustomerPhone)').val(),
                NumberEstimate: $('#@Html.IdFor(model => model.NumberEstimate)').val(),
                Title: $('#@Html.IdFor(model => model.Title)').val(),
                UnitNameNote: $('#@Html.IdFor(model => model.UnitNameNote)').val(),
                TotalNumber: $('#@Html.IdFor(model => model.TotalNumber)').val(),
                ProductTypeName: $('#@Html.IdFor(model => model.ProductTypeName)').val(),
                ProductName: $('#@Html.IdFor(model => model.ProductName)').val(),
                ExtendNote: $('#@Html.IdFor(model => model.ExtendNote)').val(),
                CreatedDate: $('#@Html.IdFor(model => model.CreatedDate)').val(),
                ProfitPercent: $('#@Html.IdFor(model => model.ProfitPercent)').val(),
                TypeEstimateId: $('#@Html.IdFor(model => model.TypeEstimateId)').val()
            };
            addAntiForgeryToken(postData);
            $.ajax({
                url: "@Html.Raw(Url.Action("EstimateInfoCreate", "Estimate"))",
                type: "POST",
                dataType: "json",
                data: postData

            }).done(function( data ) {
                if (data.Success) {
                    $("#EstimateInfo@(Html.IdFor(model => model.Id))").val(data.EstimateInfoId);
                    $("#collapseBia").collapse('show');
                } else {
                    alert('Dữ liệu không hợp lệ.');
                }

            });

        });

        $("#btn-reset-info").on('click', function() {
            ClearInfo();
        });
    });

    function ClearCustomer() {
        $("#@Html.IdFor(model=>model.CustomerId)").val('0');
        $("#@Html.IdFor(model=>model.CustomerFirstName)").val('');
        $("#@Html.IdFor(model=>model.CustomerLastName)").val('');
        $("#@Html.IdFor(model=>model.CustomerPhone)").val('');
    }

    function ClearInfo() {
        $("#@Html.IdFor(model=>model.CustomerId)").val('0');
        $("#@Html.IdFor(model=>model.Customers)").val('0');
        $("#@Html.IdFor(model=>model.CustomerFirstName)").val('');
        $("#@Html.IdFor(model=>model.CustomerLastName)").val('');
        $('#@Html.IdFor(model => model.CustomerPhone)').val('');
        $('#@Html.IdFor(model => model.NumberEstimate)').val('');
        $('#@Html.IdFor(model => model.Title)').val('');
        $('#@Html.IdFor(model => model.UnitNameNote)').val('');
        $('#@Html.IdFor(model => model.TotalNumber)').val('');
        $('#@Html.IdFor(model => model.ProductTypeName)').val('');
        $('#@Html.IdFor(model => model.ProductName)').val('');
        $('#@Html.IdFor(model => model.ExtendNote)').val('');
        $('#@Html.IdFor(model => model.CreatedDate)').val('@DateTime.Now');
        $('#@Html.IdFor(model => model.TypeEstimateId)').val();
    }
</script>