@using Nop.Services
@model ProductEstimateModel
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">@T("Admin.Catalog.Products.ProductDetails")</div>
            <div class="panel-body">
                <input type="hidden" asp-for="ProductId" />
                <input type="hidden" asp-for="EstimateId" />
                <input type="hidden" asp-for="TypeEstimateStepId" />
                <input type="hidden" asp-for="TypeProductPrintId" />
                <input type="hidden" asp-for="ShoppingCartItemId" />
                <div class="row">
                    <div class="col-md-6">

                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="Name" />
                            </div>
                            <div class="col-md-8">
                                <span>@Model.Name</span>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <div class="col-md-4">
                                    <nop-label asp-for="TypeProductPrintId" />
                                </div>
                                <div class="col-md-8">
                                    <span>@Model.TypeProductPrint.ToLocalizationName()</span>
                                </div>
                            </div>*@
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="ShortDescription" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="ShortDescription" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="UnitName" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="UnitName" />
                            </div>
                        </div>
                        @*<div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="Length" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="Length" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="Width" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="Width" />
                            </div>
                        </div>*@
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="Quantity" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="Quantity" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <nop-label asp-for="CustomerEnteredPrice" />
                            </div>
                            <div class="col-md-8">
                                <nop-editor asp-for="CustomerEnteredPrice" />
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="col-md-12 col-xs-12 text-right">
                        <button id="btn-add-product-truocin-estimate" class="btn btn-primary" type="button"><i class="fa fa-save"></i> @T("Common.EstimateInfo.AddProduct")</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function() {
        $("#btn-add-product-truocin-estimate").on('click', function() {

            var postData = {
                ProductId: $("#@Html.IdFor(m => m.ProductId)").val(),
                ShoppingCartItemId: $("#@Html.IdFor(m => m.ShoppingCartItemId)").val(),
                @*Length: $("#@Html.IdFor(m => m.Length)").val(),
                Width: $("#@Html.IdFor(m => m.Width)").val(),*@
                UnitName: $("#@Html.IdFor(m => m.UnitName)").val(),
                Quantity: $("#@Html.IdFor(m => m.Quantity)").val(),
                CustomerEnteredPrice: $("#@Html.IdFor(m => m.CustomerEnteredPrice)").val(),
                EstimateId: $("#@Html.IdFor(m => m.EstimateId)").val(),
                TypeEstimateStepId: $("#@Html.IdFor(m => m.TypeEstimateStepId)").val(),
                HandPrint: $("#HandPrints").val(),
                CustomerId: $("#CustomerId").val()
            };

            addAntiForgeryToken(postData);
            //Call ajax submit form
            $.ajax({
                url: "@Html.Raw(Url.Action("AddOrUpdateProductToEstimate", "Estimate"))",
                type: "POST",
                dataType: "json",
                data: postData
            }).done(function( data ) {
                $("#product-ruot-truocin-info").html('');
                var gridProductRuotTruocIn = $('#estimate-product-ruot-truocin-grid').data('kendoGrid');
                gridProductRuotTruocIn.dataSource.page(1); //new search. Set page size to 1
                //grid.dataSource.read(); we already loaded the grid above using "page" function
                return false;
            });

        });
    });
</script>